.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbar-wrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-style: 30px;
    cursor: pointer;
    font-size: 32px;
}
.topright{
    display: flex;
    align-items: center;
}
.topbaricons{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}
.gol{
    position: absolute;
    top: -5px;
    right: 0px;
    background: red;
    border-radius: 50%;
    color: white;
    width: 15px;
    height: 15px;
    font-size: 10px;
    justify-content: center;
    display: flex;
    align-items: center;

}
.topavtar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}